[Unit]
Description=Proton Drive Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/proton-drive-sync start --no-daemon
Restart=on-failure
RestartSec=5
Environment="HOME=/home/elian"
Environment="XDG_CONFIG_HOME=/home/elian/.config"
Environment="XDG_STATE_HOME=/home/elian/.local/state"
Environment="PATH=/home/elian/.local/bin:/usr/local/bin:/usr/bin:/bin"
Environment="KEYRING_PASSWORD=proton-drive-sync"

[Install]
WantedBy=default.target
